*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.calculator {
  background: #ffffff;
  padding: 20px;
  border-radius: 18px;
  width: 300px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

#display {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  color: #000000;
  font-size: 28px;
  text-align: right;
  padding: 0 12px;
  margin-bottom: 15px;
  border: 2px solid black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button{
    height: 55px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #222;
    color: #fff;
}
button:hover {
  background: #333;
}

button:active {
  transform: scale(0.96);
}

.equal {
  background: #00ff99;
  color: #000;
  font-weight: bold;
}

.equal:hover {
  background: #01ce7c;
}

.zero {
  grid-column: span 2;
}

button:nth-child(1) {
     background: #b71c1c; 
    } 
button:nth-child(2) {
     background: #6d4c41;
    }
button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16) {
  background: #d1a103; 
}